html, body {
  background-color: #262626;
  scrollbar-base-color: #595540;
  scrollbar-3dlight-color: #595540;
  scrollbar-highlight-color: #595540;
  scrollbar-track-color: #262626;
  scrollbar-arrow-color: #595540;
  scrollbar-shadow-color: #595540;
  scrollbar-dark-shadow-color: #595540;
}
::-webkit-scrollbar {
    border-radius: 0px;
}
::-webkit-scrollbar-track {
    border-radius: 0px;
   padding-right: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 6px #595540;
    padding-right: 10px;
}
::-webkit-scrollbar-corner {
    border-radius: 0px;
}
/* Style the panel */
.panel {
  /*overflow: hidden;*/
  /*width: 640px;
  height: 600px;*/
  transition: margin-left .5s;
  border: 2px solid #262626;
  background-color: #595540;
  margin:0 auto;
  /*display: inline-block;*/
  border-radius: 5px;
  /*background-color: #262626;*/
  padding: 20px;

}
/* Style the buttons that are used to gen certs */
.panel button {
  display: inline;
  color: #262626;
  border-radius: 5px;
  background-color: inherit;
  /*float: left;*/
  border: 2px solid #262626;
  outline: none;
  cursor: pointer;
  padding: 5px 10px;
  transition: 0.3s;
}
/* Change background color of buttons on hover */
.panel button:hover {
  background-color: #595540;
  border: 2px solid #262626;
}
/* Create an active/current link class */
.panel button.active {
  background-color: #262626;
  border: 2px solid #595540;
  color: #595540
}
/* Style the tab content */
.nav-content {
  display: none;
  /* padding: 6px 12px; */
  /*border: 1px solid #ccc;*/
  border-top: none;

}
textarea{
  color: silver;
  background:  #262626;
}
input {
  color: silver;
  background:  #262626;
}
input:-webkit-autofill {
  color: silver !important;
  background:  #262626 !important;
}
input:autofill {
  color: silver !important;
  background:  #262626 !important;
}
fieldset {
  margin:0 auto;
  color: #262626;
  background:  #595540;
  border: 1px solid #262626;
  border-radius: 5px;
  /*width: 120px;*/
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #262626;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  border-radius: 5px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: silver;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;

}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.avatar {
  padding: 2px 2px 2px 2px;
  background-color: transparent;
  border: 2px solid #262626;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
#spinner:not([hidden]) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#spinner::after {
  content: "";
  width: 80px;
  height: 80px;
  border: 2px solid #f3f3f3;
  border-top: 3px solid #f25a41;
  border-radius: 100%;
  will-change: transform;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
